{% extends "base.html" %} {% load static %} {% block content %}
<div class="form">
    <h3>Post a Habit</h3>
    <form action="" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">submit</button>
    </form>
</div>

<div class="habits"></div>
{% for habit in habits %}

<a href="{% url 'record' habit.pk %}">
    <h3 class="question">{{ habit.name }}</h3>
</a>
<p>Goal: {{ habit.target }}</p>
<p>{{ habit.created_at }}</p>
{% for observer in habit.observer.all %}
<p>{{ observer.username }}</p>
{% endfor %}
<a href="{% url 'edit_habit' habit.pk %}">Edit</a>
<a href="{% url 'delete_habit' habit.pk %}">Delete</a> {% endfor %}
</div>
{% endblock %}