.habits {
    margin-left: 2rem;
}

.form {
    padding: 1rem;
    margin-left: 1rem;
}

.home {
    padding: 1rem;
    margin-left: 1rem;
}

.record {
    margin-left: 2rem;
}

.welcome {
    text-align: center;
}

.top {
    background-color: cornflowerblue;
}